body	{
	background-color: #515151 ;
}

.hero-unit	{
	background-color: #EEEEEE ;
}

.navbar .brand	{
	font-size: 26px ;
}

#content.container-fluid	{
	margin-top: 50px ;
}

#copyright p	{ 
	line-height: 4px ;
	color: #198CFF ;
}
	#copyright img {
		height: 50px ;
	}

.home_imgs div img	{
	width: 285px ;
}

#about img	{
	width: 250px ;
}

div#new_items_modal.modal,
div#finishes_modal.modal	{
	width: 700px ;
	margin: -275px 0 0 -300px
}

div#new_items_modal.modal div.modal-body,
div#finishes_modal.modal div.modal-body	{
	height: 510px ;
	max-height: 510px ;
}

.carousel	{
	margin-bottom: 0px ;
}
