@font-face {
  font-family: 'museo-slab';
  src: url('../font/museo_slab_300-webfont.eot');
  src: url('../font/museo_slab_300-webfont.eot?#iefix') format('embedded-opentype'), url('../font/museo_slab_300-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'museo-slab';
  src: url('../font/museo_slab_500-webfont.eot');
  src: url('../font/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'), url('../font/museo_slab_500-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body	{
	background-color: #515151 ;
	font-family: museo-slab, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-unit	{
	background-color: #EEEEEE ;
}

.navbar .brand	{
	font-size: 26px ;
}

#content.container-fluid	{
	margin-top: 295px ;
}

#copyright p	{ 
	line-height: 4px ;
	color: #198CFF ;
}
	#copyright img {
		height: 50px ;
	}

.home_imgs div img	{
	width: 285px ;
}

#about img	{
	width: 250px ;
}

div#new_items_modal.modal,
div#finishes_modal.modal	{
	width: 700px ;
	margin: -275px 0 0 -300px
}

div#new_items_modal.modal div.modal-body,
div#finishes_modal.modal div.modal-body	{
	height: 510px ;
	max-height: 510px ;
}

.carousel	{
	margin-bottom: 0px ;
}

div#banner_imgs {
	width: 980px ;
	height: 120px ;
	background: url('../images/banner_bg.jpg') ;
	margin-left: 0 ;
}

div#navigation h1	{
	font-size: 70px ;
	letter-spacing: -1px ;
	line-height: 1.2;
	color: #FFF ;
	font-family: museo-slab ;
	text-shadow: 2px 2px 2px #999;
}

div#navigaion div.container	{
	font-family: museo-slab ;
}
